<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>BANK INFO</title>
    </head>
    <body>
        <h1>Bank Info</h1>
        <h2>{{ controller_name }}</h2>
    </body>
</html>
