<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/style.css">
        <title>BANK INFO</title>
    </head>
    <body>
        <section>
            <h1>Bank RF - Info</h1>
            <h2>{{ controller_name }}</h2>
        </section>
    </body>
</html>
